/* GHG Anlysis */
//


@import 'fx-analysis-variables';
@import 'fx-mixins';
@import 'fx-tabs';



.fx-analysis-holder{


}

.faos-analysis-container{
//   margin: 0 -10px;
  margin: 0 20px;
}

.faos-analysis-card{
  display: inline-block;
  float: left;
  width: (100%/6);
  padding: 10px;


  .faos-analysis-card-top{
    background-color: #dddddd;
    padding: 10px;
    cursor: pointer;

    .faos-analysis-tile-img{
      width: 100%;
    }

  }

  .faos-analysis-card-bottom{
    background-color: white;
    padding: 10px;
    cursor: pointer;

    h2{
      margin: 0;
      font-size: 16px;
    }

    p{
      color: #aaa;
    }

  }

}

.faos-analysis-module{
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 10px;

  .faos-analysis-module-left{
    display: inline-block;
    float: left;
    width: 5%;


    .faos-analysis-tile-img{
      width: 100%;
    }

  }

  .faos-analysis-module-right{
    padding: 5px 15px;
    min-height: 85px;
    cursor: pointer;
    display: inline-block;
    width: 85%;



    h2{
      margin: 0;
      font-size: 20px;
      color: #399BCC;
    }

    p{

    }

  }

}

/* GHG Editor CSS */
.spacer {
    height: 16px;
}

.table_cell {
    line-height: 30px;
}

.table_cell.year {
    text-align: center;
}

.ghg_editor_title {
    padding: 4px;
    color: #777777;
}

.chosen-single {
    height: 34px !important;
    line-height: 34px !important;
}

.ghg-tab {
    border-bottom: 1px solid #eee;
    background-color: transparent !important;
}

.ghg-title {
  font: 400 22px 'Roboto Condensed',sans-serif !important;
  color: #174c74;
  padding-top: 5px;
}

.ghg-tile{
  cursor: pointer;
}

.ghg-max-img {
    width: 100%;
    height: auto;
}

h1 {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  i{
    font-size: 18px !important;
  }
  font: 400 18px 'Roboto Condensed',sans-serif !important;
  color: #379bce;
}

h2 {
  font: 400 14px 'Roboto Condensed',sans-serif !important;
  color: #379bce;
}

#fx_overview_panel{

  h2{ margin-bottom: 0;}

}

.fs_overview_subtitle{
  text-transform: uppercase;
  font-size: 10px;
}



.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
  //border: 1px solid #ddd !important;
}

.table-bordered{
  @include fx-no-border;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width : 1px;
}

#main_content_emissions {
  .page-header {
    border: none;
    padding-bottom: 0;
    margin: 40px 0 0 0;
  }
  .col-lg-9{
    padding-left: 0;
    padding-right: 0;
    left: -16px;
    .form-control{
      border: 0;
      box-shadow: none;
    }
  }
}

.tile_img {
  width: 481px;
  height: 242px;
  cursor: pointer;
}

#analysis_breadcrumb.breadcrumb {
  background-color: #FFFFFF;
  margin-top: -5px;
  margin-bottom: 0px;

  li{
    a{
      color: #666666 !important;
    }
  }
}

.ghg_lvl {
  font-weight: bold;
}

.ghg_sub_lvl {
  margin-left: 16px;
}

.ghg_sub_sub_lvl {
  margin-left: 32px;
  font-style: italic;
}

.coloured_header {
  font-weight: normal !important;
  background-color: #379bce;
  color: #FFFFFF;
}

#gt_faostat_left_table th,
#gt_faostat_right_table th,
#gas_faostat_left_table th,
#gas_faostat_right_table th,
#gas_nc_left_table th,
#gas_nc_right_table th,
#gt_nc_left_table th,
#gt_nc_right_table th,
#gt_difference_left_table th,
#gt_difference_right_table th,
#gt_norm_difference_left_table th,
#gt_norm_difference_right_table th {
  @extend .coloured_header
}

.form-control.input-sm {
  box-shadow: none;
  border: none;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v_space {
  height: 16px;
}

html{
  height: 100%;
}

body{
  background-color: #f5f5f5;
  color: #666666;
//  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px !important;
  margin: 0;
  position: relative;
  height: 100%
}


//.fs_main_holder {
//  left: 50%;
//  margin-left: -500px;
//  overflow: hidden;
//  position: relative;
//  width: 1000px;
//  background-color: white;
////  height: calc(100% - 10em);
//}

//.container-tile{
//  padding-left: 15px;
//  padding-right: 15px;
//}

* {
  box-sizing: border-box !important;
}

* {
  font-family: "Roboto",sans-serif !important;
}



.ghg-main-tile{
//  background-image: url(../js/tiles-manager/images/ghg-bg.png);
//  width: 100%;
//  height: 300px;
}

.ghg-holder-content{
  //text-align: center;
//  top: 50%;
//  position: relative;
//  transform: translate(0,-60%);
}

.ghg-holder-content h2{
  font-size: 35px;
  font-weight: 700;
}

.ghg-holder-content h2 em{
  font-style: normal;
  font-weight: 300;
  font-size: inherit;
}

.ghg-holder-content p {
  color: #399bcc;
  font-size: 19px;

}

.ghg-holder-content img{
  transform: scale(.6,.6);
}

.ghg-holder-content .ghg-text{
  font-size: 11px;
  color: #666666;
  width: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%,0);
  margin-bottom: 20px;
}

.col-xs-12.col-sm-4.col-md-4.col-lg-4 {
  h1:hover {
    color: #174C74;
  }
}


/* Quick fix for table Agric Soils */
#gas__charts_content{
  .innertbody{
    tr{
      &:nth-child(n+3){
        th {
          &:nth-child(3) {
            display: none;
          }
        }
        th {
          &:nth-child(2) {
            width:825px !important;
          }
        }
        td{
          &:nth-child(2){
            width:825px !important;
          }
        }
        td{
          &:nth-child(3){
            display: none;
          }

        }


      }


    }

  }
}



.chosen-container-single .chosen-single{
  background: transparent !important;
  color: #666666 !important;
}

/* GHG fix 15 april 2015 */
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
  border-color: transparent;
}

.ghg-small-charts{
  height: 250px;
}

#fs-overview-tables{
  .dataTable{


    text-align: center !important;
  }

}


#gt_tables_content{

  .dataTable{

    border: 1px solid #e6e6e6 !important;

    thead th .table_cell{
      font-size: 12px !important;
    }

    td{
      padding: 0 !important;

    }

  }


  tr{

    padding: 0 5px;

    &:nth-child(odd) {
      background-color: transparent;
    }

    &:nth-child(even) {
      background-color: #f4f4f4;
    }

  }

  tr:hover{
    .form-control{
      background-color: transparent;
      color: white;
    }
  }

  .form-control{
    text-align: center !important;
    background-color: transparent;
    color: #666;
  }
}

.fx_world_table{



}



