/* GHG Anlysis */
/* Analysis Variables - replace with fenix one */
/* AFO Variables */
/* Fenix Tabs component */
.fx-tabs a:visited {
  color: #666666 !important; }
.fx-tabs .nav-tabs > li > a {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border: none;
  color: #666666 !important;
  background-color: transparent; }
.fx-tabs .nav-tabs {
  -ms-transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px); }
  .fx-tabs .nav-tabs > li {
    margin-bottom: 10px; }
    .fx-tabs .nav-tabs > li > a {
      padding: 0 10px;
      color: #666666;
      font-size: 11px;
      text-transform: uppercase; }
      .fx-tabs .nav-tabs > li > a:visited {
        color: #666666 !important; }
      .fx-tabs .nav-tabs > li > a:before {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #399BCC;
        left: 0;
        bottom: -2px;
        pointer-events: none;
        -ms-transform: scaleX(0);
        -webkit-transform: scaleX(0);
        transform: scaleX(0); }
    .fx-tabs .nav-tabs > li.active > a {
      color: #399BCC !important;
      border-top: none;
      border-right: none;
      border-bottom: none;
      border-left: none;
      border: none; }
      .fx-tabs .nav-tabs > li.active > a:before {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        -ms-transform: scaleX(0.8);
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8); }
.fx-tabs .tab-content {
  padding-top: 10px; }
  .fx-tabs .tab-content > div {
    padding: 0; }
.fx-tabs li {
  margin: 12px 0; }

.fs-section-title {
  color: #174c74;
  font: 400 18px "Roboto Condensed",sans-serif;
  margin: 0;
  padding: 5px 0 5px 0; }

.fs-frame-title {
  font: 300 16px "Roboto Condensed",sans-serif !important;
  color: #2471aa;
  height: 26px;
  border-bottom: 1px solid #cccccc; }

.faos-analysis-container {
  margin: 0 20px; }

.faos-analysis-card {
  display: inline-block;
  float: left;
  width: 16.66667%;
  padding: 10px; }
  .faos-analysis-card .faos-analysis-card-top {
    background-color: #dddddd;
    padding: 10px;
    cursor: pointer; }
    .faos-analysis-card .faos-analysis-card-top .faos-analysis-tile-img {
      width: 100%; }
  .faos-analysis-card .faos-analysis-card-bottom {
    background-color: white;
    padding: 10px;
    cursor: pointer; }
    .faos-analysis-card .faos-analysis-card-bottom h2 {
      margin: 0;
      font-size: 16px; }
    .faos-analysis-card .faos-analysis-card-bottom p {
      color: #aaa; }

.faos-analysis-module {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 10px; }
  .faos-analysis-module .faos-analysis-module-left {
    display: inline-block;
    float: left;
    width: 5%; }
    .faos-analysis-module .faos-analysis-module-left .faos-analysis-tile-img {
      width: 100%; }
  .faos-analysis-module .faos-analysis-module-right {
    padding: 5px 15px;
    min-height: 85px;
    cursor: pointer;
    display: inline-block;
    width: 85%; }
    .faos-analysis-module .faos-analysis-module-right h2 {
      margin: 0;
      font-size: 20px;
      color: #399BCC; }

/* GHG Editor CSS */
.spacer {
  height: 16px; }

.table_cell {
  line-height: 30px; }

.table_cell.year {
  text-align: center; }

.ghg_editor_title {
  padding: 4px;
  color: #777777; }

.ghg-tab {
  border-bottom: 1px solid #eee;
  background-color: transparent !important; }

.ghg-title {
  font: 400 22px 'Roboto Condensed',sans-serif !important;
  color: #174c74;
  padding-top: 5px; }

.ghg-tile {
  cursor: pointer; }

.ghg-max-img {
  width: 100%;
  height: auto; }

h1 {
  font: 400 18px 'Roboto Condensed',sans-serif !important;
  color: #379bce; }
  h1 a:hover {
    text-decoration: none; }
  h1 i {
    font-size: 18px !important; }

h2 {
  font: 400 14px 'Roboto Condensed',sans-serif !important;
  color: #379bce; }

#fx_overview_panel h2 {
  margin-bottom: 0; }

.fs_overview_subtitle {
  text-transform: uppercase;
  font-size: 10px; }

.table-bordered {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border: none; }

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 1px; }

#main_content_emissions .page-header {
  border: none;
  padding-bottom: 0;
  margin: 40px 0 0 0; }
#main_content_emissions .col-lg-9 {
  padding-left: 0;
  padding-right: 0;
  left: -16px; }
  #main_content_emissions .col-lg-9 .form-control {
    border: 0;
    box-shadow: none; }

.tile_img {
  width: 481px;
  height: 242px;
  cursor: pointer; }

#analysis_breadcrumb.breadcrumb {
  background-color: #FFFFFF;
  margin-top: -5px;
  margin-bottom: 0px; }
  #analysis_breadcrumb.breadcrumb li a {
    color: #666666 !important; }

.ghg_lvl {
  font-weight: bold; }

.ghg_sub_lvl {
  margin-left: 16px; }

.ghg_sub_sub_lvl {
  margin-left: 32px;
  font-style: italic; }

.coloured_header, #gt_faostat_left_table th,
#gt_faostat_right_table th,
#gas_faostat_left_table th,
#gas_faostat_right_table th,
#gas_nc_left_table th,
#gas_nc_right_table th,
#gt_nc_left_table th,
#gt_nc_right_table th,
#gt_difference_left_table th,
#gt_difference_right_table th,
#gt_norm_difference_left_table th,
#gt_norm_difference_right_table th {
  font-weight: normal !important;
  background-color: #379bce;
  color: #FFFFFF; }

.form-control.input-sm {
  box-shadow: none;
  border: none; }

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.v_space {
  height: 16px; }

html {
  height: 100%; }

body {
  background-color: #f5f5f5;
  color: #666666;
  font-size: 11px !important;
  margin: 0;
  position: relative;
  height: 100%; }

* {
  box-sizing: border-box !important; }

* {
  font-family: "Roboto",sans-serif !important; }

.ghg-holder-content h2 {
  font-size: 35px;
  font-weight: 700; }

.ghg-holder-content h2 em {
  font-style: normal;
  font-weight: 300;
  font-size: inherit; }

.ghg-holder-content p {
  color: #399bcc;
  font-size: 19px; }

.ghg-holder-content img {
  transform: scale(0.6, 0.6); }

.ghg-holder-content .ghg-text {
  font-size: 11px;
  color: #666666;
  width: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
  margin-bottom: 20px; }

.col-xs-12.col-sm-4.col-md-4.col-lg-4 h1:hover {
  color: #174C74; }

/* Quick fix for table Agric Soils */
#gas__charts_content .innertbody tr:nth-child(n+3) th:nth-child(3) {
  display: none; }
#gas__charts_content .innertbody tr:nth-child(n+3) th:nth-child(2) {
  width: 825px !important; }
#gas__charts_content .innertbody tr:nth-child(n+3) td:nth-child(2) {
  width: 825px !important; }
#gas__charts_content .innertbody tr:nth-child(n+3) td:nth-child(3) {
  display: none; }

/* GHG fix 15 april 2015 */
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border-color: transparent; }

.ghg-small-charts {
  height: 250px; }

#fs-overview-tables .dataTable {
  text-align: center !important; }

#gt_tables_content .dataTable,
#gm_tables_content .dataTable,
#ge_tables_content .dataTable,
#gr_tables_content .dataTable,
#gb_tables_content .dataTable,
#gh_tables_content .dataTable,
#gas_tables_content .dataTable {
  border: 1px solid #e6e6e6 !important; }
  #gt_tables_content .dataTable thead th .table_cell,
  #gm_tables_content .dataTable thead th .table_cell,
  #ge_tables_content .dataTable thead th .table_cell,
  #gr_tables_content .dataTable thead th .table_cell,
  #gb_tables_content .dataTable thead th .table_cell,
  #gh_tables_content .dataTable thead th .table_cell,
  #gas_tables_content .dataTable thead th .table_cell {
    font-size: 12px !important; }
  #gt_tables_content .dataTable td,
  #gm_tables_content .dataTable td,
  #ge_tables_content .dataTable td,
  #gr_tables_content .dataTable td,
  #gb_tables_content .dataTable td,
  #gh_tables_content .dataTable td,
  #gas_tables_content .dataTable td {
    padding: 0 !important; }
#gt_tables_content tr,
#gm_tables_content tr,
#ge_tables_content tr,
#gr_tables_content tr,
#gb_tables_content tr,
#gh_tables_content tr,
#gas_tables_content tr {
  padding: 0 5px; }
  #gt_tables_content tr:nth-child(odd),
  #gm_tables_content tr:nth-child(odd),
  #ge_tables_content tr:nth-child(odd),
  #gr_tables_content tr:nth-child(odd),
  #gb_tables_content tr:nth-child(odd),
  #gh_tables_content tr:nth-child(odd),
  #gas_tables_content tr:nth-child(odd) {
    background-color: transparent; }
  #gt_tables_content tr:nth-child(even),
  #gm_tables_content tr:nth-child(even),
  #ge_tables_content tr:nth-child(even),
  #gr_tables_content tr:nth-child(even),
  #gb_tables_content tr:nth-child(even),
  #gh_tables_content tr:nth-child(even),
  #gas_tables_content tr:nth-child(even) {
    background-color: #f4f4f4; }
#gt_tables_content tr:hover .form-control,
#gm_tables_content tr:hover .form-control,
#ge_tables_content tr:hover .form-control,
#gr_tables_content tr:hover .form-control,
#gb_tables_content tr:hover .form-control,
#gh_tables_content tr:hover .form-control,
#gas_tables_content tr:hover .form-control {
  background-color: transparent;
  color: white; }
#gt_tables_content .form-control,
#gm_tables_content .form-control,
#ge_tables_content .form-control,
#gr_tables_content .form-control,
#gb_tables_content .form-control,
#gh_tables_content .form-control,
#gas_tables_content .form-control {
  text-align: center !important;
  background-color: transparent;
  color: #666; }

.faostat-analysis-card-top {
  padding: 15px; }

.faostat-analysis-holder {
  background-color: #e5e5e5;
  margin-top: -10px;
  position: relative; }
  .faostat-analysis-holder:after {
    content: '';
    background-color: #e5e5e5;
    height: 1000px;
    position: absolute;
    width: 100%;
    margin-left: -15px; }
  .faostat-analysis-holder .obj-box .row {
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e6e6e6; }
    .faostat-analysis-holder .obj-box .row:last-child {
      border: 0; }

/* Fenix - Panel Component */
.panel-group {
  margin-bottom: 0px; }
  .panel-group .panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: white;
    border-bottom-width: 2px; }
  .panel-group .panel-default {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .panel-group .panel-heading {
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding: 10px; }
    .panel-group .panel-heading a {
      color: #666666;
      font: 300 16px "Roboto Condensed", sans-serif; }
      .panel-group .panel-heading a:hover {
        text-decoration: none; }
      .panel-group .panel-heading a:active {
        text-decoration: none; }
      .panel-group .panel-heading a:focus {
        text-decoration: none; }
  .panel-group .panel-body {
    border-top-color: transparent !important; }
    .panel-group .panel-body .btn span.fa {
      margin-right: 10px; }

.fs-geospatial-download-product-list {
  background-color: #e5e5e5;
  padding: 10px; }
  .fs-geospatial-download-product-list .panel-body {
    padding: 0 15px; }
  .fs-geospatial-download-product-list .list-group-item {
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0; }
    .fs-geospatial-download-product-list .list-group-item h3 {
      margin-top: 0; }
    .fs-geospatial-download-product-list .list-group-item:last-child {
      border: 0; }

.fs-overview-title {
  font-weight: bold;
  margin-bottom: 5px; }

.fs-overview-chart-pie {
  height: 200px; }

.fs-overview-chart-total {
  height: 350px; }

.instructions {
  text-decoration: underline;
  cursor: pointer; }
  .instructions i {
    margin-right: 3px; }

.instructions-here {
  font: normal normal 400 16px/normal "Roboto Condensed", sans-serif !important;
  text-decoration: underline;
  cursor: pointer; }

.user-manual-link {
  margin-top: 0;
  position: relative;
  top: 18px; }

/*# sourceMappingURL=analysis.css.map */
