[submodule "submodules/fenix-ui-tiles-manager"]
	path = submodules/fenix-ui-tiles-manager
	url = https://github.com/FENIX-Platform/fenix-ui-tiles-manager.git
[submodule "submodules/faostat-ui-analysis-ghg-qaqc"]
	path = submodules/faostat-ui-analysis-ghg-qaqc
	url = https://github.com/FAOSTAT4/faostat-ui-analysis-ghg-qaqc.git
[submodule "submodules/faostat-ui-wide-tables"]
	path = submodules/faostat-ui-wide-tables
	url = https://github.com/FAOSTAT4/faostat-ui-wide-tables.git
[submodule "submodules/faostat-ui-commons"]
	path = submodules/faostat-ui-commons
	url = https://github.com/FAOSTAT4/faostat-ui-commons.git
[submodule "submodules/fenix-ui-chart-creator"]
	path = submodules/fenix-ui-chart-creator
	url = https://github.com/FENIX-Platform/fenix-ui-chart-creator.git
